body {
  background-color: lightgray;

  h2 {
    color: lightseagreen;
  }
}

.dd-box {
  width: 300px;
  height: 30px;
  position: absolute;
  background-color: orange;
  border: 3px solid black;
  border-bottom: unset;
  cursor: pointer;

  .dd-box__content {
    width: 300px;
    height: 150px;
    margin-left: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-top: unset;
  }

  .dd-box__resizer {
    width: 20px;
    height: 20px;
    resize: both;
    overflow: auto;
    position: absolute;
    bottom: -150px;
    right: 0;
  }

  .dd-box__title {
    width: calc(100% - 10px);
    height: 20px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;

    .dd-box__remover {
      width: 20px;
      height: calc(100% - 6px);
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid black;
      position: absolute;
      top: 3px;
      right: 3px;
      cursor: pointer;
    }
  }
}

#add-note {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
}
