body {
  background-color: lightgray;

  h2 {
    color: lightseagreen;
  }
}

.dd-box {
  width: 300px;
  height: 30px;
  position: absolute;
  background-color: orange;
  border: 3px solid black;
  border-bottom: unset;
  cursor: pointer;

  %content-dimensions {
    width: 300px;
    height: 150px;
  }

  .dd-box__content {
    @extend %content-dimensions;
    margin-left: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid black;
    border-top: unset;
    background-color: lightgreen;
  }

  .dd-box__text-content {
    position: absolute;
    top: 0;
    left: 0;
    word-wrap: normal;
    overflow-y: auto;
  }

  .dd-box__content-editor {
    @extend %content-dimensions;
    resize: unset;
  }

  .dd-box__save-btn {
    background-color: lightseagreen;
  }

  .dd-box__resizer {
    width: 15px;
    height: 15px;
    resize: both;
    overflow: auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  %title-dimension {
    width: calc(100% - 10px);
    height: 20px;
    padding: 5px;
  }

  .dd-box__title {
    @extend %title-dimension;
    text-align: center;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 1;

    .dd-box__title-editor {
      @extend %title-dimension;
      position: absolute;
      top: -3px;
      left: -1px;
      resize: unset;
    }

    .dd-box__title-content {
      opacity: 1;
    }

    .dd-box__edit-btn {
      width: 15px;
      height: calc(100% - 6px);
      position: absolute;
      top: 3px;
      right: 26px;
      padding-left: 3px;
      border-left: 1px solid black;
    }

    .dd-box__remover {
      width: 20px;
      height: calc(100% - 6px);
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid black;
      position: absolute;
      top: 3px;
      right: 3px;
      cursor: pointer;
      z-index: 1000001;
    }
  }
}

#add-note {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
}
